<% if locked_by_other_user? %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='file-locked'>
        <strong>Show only view</strong><br>
        Another user is currently editing this Intent.
        You are able to view it but not save any changes.
      </div>
    </div>
  </div>
<% end %>
