<% if locked_by_other_user? %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='file-locked pull-left'>
        <span>Show only view:</span>
        <br>
        Another user is currently editing this Intent.<br>
        You are able to view it but not save any changes.
        <br>
      </div>
    </div>
  </div>
<% end %>
