<% if locked_by_other_user? %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='file-locked'>
        This intent is currently being edited by <%= @intent.file_lock.user_email %>.
        You are able to view it but not save any changes.
      </div>
    </div>
  </div>
<% end %>
