<%= render partial: 'lock' %>

<%= link_to(
  "&larr; Intents".html_safe,
  skill_intents_path( @skill ),
  class: "btn md grey"
) %>

<h1>Edit Details</h1>

<div class="intents-form">
  <%= render partial: "form" %>
</div>
