<div><%= @skill.name %>
<div><%= @intent.name %>
<div><%= @intent.web_hook %>

<div>Fields</div>
<div id="fields"></div>
<div id="dialogs"></div>

<script>
$(function() {
    initFields();
    initDialogs();
});
</script>