<%= render partial: 'lock' %>

<div>
  <div class="page-head">
    <h1>
      Single Word Rule
    </h1>
    <% if !SingleWordRule.first.locked_for?( @current_user ) %>
      <%= form_tag( clear_single_word_rule_changes_path ) do %>
        <%= submit_tag(
          'Clear Changes',
          data: { confirm: "Are you sure you would like to delete your changes?\nThis will allow other users to edit the Single Word Rules.".html_safe },
          class: 'btn lg ghost clear-changes-btn'
        ) %>
      <% end %>
    <% end %>
  </div>

  <table>
    <colgroup>
      <col width="300">
      <col width="450">
      <col width="150">
    </colgroup>
    <tr>
      <td>
        <input name="single_word_rule_input" type="text" class="single-word-rule-input add width200" />
      </td>
      <td>
        <select class="intents-options add"></select>
      </td>
      <td class="input-view single-word-rule-add-btn">
        <% if SingleWordRule.first.locked_by_current_user?( @current_user ) %>
          <a href="#" class='add-btn btn md black'>Add</a>
        <% end %>
      </td>
    </tr>
  </table>

  <br>

  <table>
    <colgroup>
      <col width="300">
      <col width="450">
      <col width="150">
    </colgroup>
    <thead>
      <tr>
        <th>Word</th>
        <th>Intent</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="singleWordTable">
    </tbody>
  </table>
</div>
