<div class="form-center">
  <%= form_for @skill do | f |%>
    Name: <%= f.text_field :name %>
    <%= f.submit 'Submit', :class=>"btn md black" %>
  <% end %>

</div>

<%= link_to "Cancel", skills_path(),class: 'btn sm grey pull-right' %>
<br>