<h1>Edit <%= @skill.name %></h1>

<%= render partial: "form" %>

<%= link_to(
  "Delete this skill",
  skill_path(@skill),
  method: :delete,
  data: {
    confirm: "Are you sure you want to delete this skill?"
  },
  class: "btn sm grey abs-btm-20"
) %>
