<div class='fields'>
  <div class='notes collapse'>
    Server Response Time: <span class='server-time'></span>ms
    <br>
    URL: <span class='url-used'></span>
  </div>
  <pre><code class='json'></code></pre>
</div>
