<div class='fields'>
  <div class='row notes collapse'>
    <div class='col-xs-12'>
      <div class='pull-left'>
        Server Response Time: <span class='server-time'></span> ms
      </div>
      <div class='pull-right'>
        URL: <span class='url-used'></span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <span class='icon-down-dir collapse foldCaret'></span>
      <pre><code class='json collapse in'></code></pre>
      <button class='btn sm grey pull-right copy-btn collapse'>Copy</button>
      <span class='pull-right copyConfirm collapse'>Copied!</span>
    </div>
  </div>
</div>
