<%= link_to(
  '&larr; Skills'.html_safe,
  skills_path(@skill),
  class: 'btn md grey pull-left'
)%>
<br><br><br>

<div class='upload-dialogs row'>
  <div class='col-xs-2'>
    <h4>Upload Dialogs</h4>
    <%= form_tag({ controller: 'api', action: 'process_dialog_upload' }) do %>
      <input type='hidden' id='intent_id' value='<%= params[:id] %>' />
      <label class='btn btn-default btn-file'>
        Choose Files
        <input type='file' id='files' name='files[]' multiple />
      </label>
      <br>
      <br>
      <button class='lg btn black save-dialogs'>Upload</button>
      <br>
    <% end %>
  </div>
  <div class='col-xs-2 upload-files collapse'>
    <h4>Files to Upload</h4>
    <table class='table table-default upload-table'>
      <thead><th></th></thead>
      <tbody class='upload-table-data'></tbody>
    </table>
  </div>
  <div class='col-xs-8 result-section collapse'>
    <h4>Upload Results</h4>
    <table class='table table-default result-table'>
      <thead>
        <th>File</th>
        <th>Result</th>
      </thead>
      <tbody class='result-table-data'>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#files').on('change', function(){
    $('.upload-files').addClass('in');

    if ($('.result-section').length > 0){
      $('.result-section').removeClass('in');
    }

    $.each(this.files, function(index, file){
      $('.upload-table-data').append( '<tr><td>' + escape(file.name) + '</td></tr>' );
    });
  });

  $('.save-dialogs').click(function(e){
    e.preventDefault();
    $('.upload-files').removeClass('in');

    var files = $('#files')[0].files;
    uploadFiles(files);

    var uploaderInput = $('#files');
    uploaderInput.wrap('<form>').closest('form')[0].reset();
    uploaderInput.unwrap();

    $('.upload-table-data').html('');
  });

  function updateView(){
    if (localStorage.length > 0) {
      $('.result-section').addClass('in');
      $.each(localStorage, function(key, value){
        $('.result-table-data').append(
          '<tr class="text-' +
          ((!value.includes('failed') && !value.includes('error')) ? 'success' : 'danger')
          + '"><td>' + key + '</td><td>' + value + '</td></tr>'
        );

        localStorage.removeItem( key );
      });
    }
  }

  function uploadFiles(files){
    $.each(files, function(index, file){
      var reader = new FileReader();
      reader.readAsText(file);

      reader.onloadend = postFile(file);
    });
  }

  function postFile(file){
    return (function() {
      $.ajax({
        type: 'POST',
        url: '/api/process_dialog_upload',
        headers: {
            'Accept' : 'text/csv; charset=utf-8',
            'Content-Type': 'text/csv; charset=utf-8'
        },
        data: this.result
      }).done(function(r){
        localStorage.setItem( file['name'], r.response );
      }).fail(function(r){
        localStorage.setItem( file['name'], r.statusText );
      }).always(function(){
        updateView();
      });
    });
  }
</script>
