<div class="container">
  <div class="top-margin textCenter">
    <a href='<%= @identity_login_page %>' class="btn lg black">Login</a>

    <div class="alert"><%= flash[:alert] %></div>
  </div>
</div>