<h2>NLU Query</h2>

<%= form_for(
  'nlu.iamplus.com:8080/query',
  method: :get
) do %>
  <%= text_field_tag :nlu_query, nil, class: 'form-control' %>
  <%= submit_tag 'Test', class: 'btn lg black pull-right' %>
  <br>
<% end %>

<div class='fields'>
  <div class='json'>
    <%= @response %>
  </div>
</div>
