<div>
  <h1>Single Word Rule</h1>

  <table>
    <colgroup>
      <col width="300">
      <col width="450">
      <col width="150">
    </colgroup>
    <tr>
      <td>
        <input type="text" class="single-word-rule-input add width200" />
      </td>
      <td>
        <select class="intents-options add"></select>
      </td>
      <td class="input-view single-word-rule-padL100">
        <a href="#" class='add-btn btn md black'>Add</a>
      </td>
    </tr>
  </table>

  <br>

  <table>
    <colgroup>
      <col width="300">
      <col width="450">
      <col width="150">
    </colgroup>
    <thead>
      <tr>
        <th>Word</th>
        <th>Intent</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="singleWordTable">
    </tbody>
  </table>
</div>
