.fields button.json {
  margin: 1.5em 0 0.8em;
}

.fields div.json {
  min-height:200px;
  white-space: pre;
  font-family: Courier;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.response-message, .aneeda-says-error {
  color: red;
}

.addField {
  font-size: 12px;
  margin-left: 5px;
}

.intent-info {
  margin-top: 40px;
}

.intent-title {
  margin-top: 20px;
}

.info-header {
  margin-top: 20px;
}

td.jsgrid-cell input,
td.jsgrid-cell select {
  width: 100%;
  min-width: unset;
  margin: 0 auto;
}

th.jsgrid-header-cell {
  text-transform: uppercase;
  text-align: center;
}

th.jsgrid-control-field {
  .jsgrid-mode-button {
    margin-bottom: 0;
  }
}

tr.jsgrid-insert-row {
  display: table-row !important;
}

td.jsgrid-cell {
  text-align: left;
  padding-left: 1em !important;
}

table.jsgrid-table {
  margin: 0;
}

// The below styles override the 'shared-styles'

.responseTypeLabel {
  margin: 20px 0;
  display: block;
  top: 10px;
  position: absolute;
}

.responseValueLabel {
  margin: 20px 0;
  display: block;
}

.responseTriggerLabel {
  margin: 20px 0;
  display: block;
  bottom: 10px;
  position: absolute;
}

label {
  min-width: 95px !important;
  padding-top: 5px;
}

textarea {
  min-width: 720px !important;
}

.dialog-select {
  min-width: 250px !important;
  margin-top: 10px !important;
}

.response-qna-faq {
  margin-top: 12px;
}

.qna-label-right, .video-label-right, .option-label-right {
  padding-right: 5px;
  float: right;
}

.add-option, .add-card, .add-answer {
  position: absolute;
  right: 30px;
}

.card-entity-right {
  padding-right: 5px;
  float: right;
}

.card-label {
  font-size: 20px;
}

.answer-delete {
  position: relative;
  bottom: 50px;
}

.awaiting-dialog-select {
  min-width: 250px !important;
  margin-top: 0 !important;
}

.priority-input{
  width: 250px !important;
}

.aneeda-says{
  min-width: 250px !important;
}

.dialog-input {
  min-width: 250px !important;
  margin-bottom: 5px !important;
}

.dialogForm {
  display: none;
}

a.cancelCreate {
  font-size: 13px;
  margin-top: 10px;
  margin-right: 5px;
  color: black;

  &:hover {
    text-decoration: underline !important;
  }
}

.dialogs, .dialog {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

.inline{
  display: inline;
}

.row3{
  width: 3%;
}
.row4{
  width: 4%;
}
.row5{
  width: 5%;
}
.row12{
  width: 12%;
}
.row16{
  width: 16%;
  position: relative;
}
.row20{
  width: 20%;
}
.row30{
  width: 30%;
}
.row40{
  width: 40%;
}
.row44_5{
  width: 44.5%;
}

.table-response-separator {
  margin: 5px 0;
}

table.dialogs{
  tr:nth-child(odd) {background: #f6f6f6};
  tr:not(:first-child) {background: #fff};
}

.margin0{
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}
.margin-15{
  margin-top:  -15px !important;
  margin-bottom: 0 !important;
}
.margin5050{
  margin: 5px 0 5px 0 !important;
}

#mturk-response-field {
  margin:35px 0 0 0;
}

#mturk-response-field input[type='submit']{
  margin: -4px 0 0 13px;
}

#mturk-response-field #submit-result {
  margin: 0 0 0 17px;
}

.valign-top {
  vertical-align: top;
}
.card-bg {
  background: #EFEFEF;
  padding: 12px;
  margin-bottom: 6px;
  width: 200%;
}
