.dialogs-container {
  font-size: 12px;
}

.intent-details-btn {
  margin-bottom: 15px;
}

.fields button.json {
  margin: 1.5em 0 0.8em;
}

.fields div.json {
  min-height:200px;
  white-space: pre;
  font-family: Courier;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.response-message, .aneeda-says-error {
  color: red;
}

.addField {
  font-size: 12px;
  margin-left: 5px;
}

.intent-info {
  margin-top: 40px;
}

.intent-title {
  margin-top: 20px;
}

.info-header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.add-remove-response{
  position: absolute;
  right: 21px;
}
.option-trash-position{
  position: absolute;
  right: 55px;
  margin-top: 10px;
}
.bottom-pad128 {
  padding-bottom: 128px;
}
.top-margin-16{
  margin-top: -16px;
}
.abs-position{
  position: absolute;
}
.float-left{
  float: left;
}
.qna-inputs{
  height: 128px;
}

td.jsgrid-cell input,
td.jsgrid-cell select {
  width: 100%;
  min-width: unset;
  margin: 0 auto;
}

th.jsgrid-header-cell {
  text-transform: uppercase;
  text-align: center;
}

th.jsgrid-control-field {
  .jsgrid-mode-button {
    margin-bottom: 0;
  }
}

tr.jsgrid-insert-row {
  display: table-row !important;
}

td.jsgrid-cell {
  text-align: left;
  padding-left: 1em !important;
}

table.jsgrid-table {
  margin: 0;
}

// The below styles override the 'shared-styles'

.responseTypeLabel {
  margin: 20px 0;
  display: block;
  top: 10px;
  position: absolute;
}

.responseValueLabel {
  margin: 20px 0;
  display: block;
}

.responseTriggerLabel {
  margin: 20px 0;
  display: block;
  bottom: 10px;
  position: absolute;
}

label {
  min-width: 95px !important;
  padding-top: 5px;
}

textarea.response-qna-answer-input {
  min-width: 690px !important;
  min-height: 120px !important;
}

textarea.comments-input {
  min-width: 720px !important;
  min-height: 100px !important;
}

.dialog-select {
  min-width: 250px !important;
  margin-top: 10px !important;
}

.response-qna-faq {
  margin-top: 12px;
}

.qna-label-right, .video-label-right, .option-label-right {
  padding-right: 5px;
  float: right;
}

.add-option {
  position: absolute;
  right: 30px;
  margin-top: -43px;
}

.add-card, .add-answer {
  position: absolute;
  right: 30px;
}

.card-entity-right {
  padding-right: 5px;
  float: right;
}

.card-label {
  font-size: 20px;
}

.answer-delete {
  position: absolute;
  right: 40px;
  margin-top: -68px;
}

.awaiting-dialog-select {
  min-width: 250px !important;
  margin-top: 0 !important;
}

.comments-label {
  padding-top: 25px;
}

.priority-input{
  width: 250px !important;
  margin-bottom: 0px !important;
}

.aneeda-says{
  min-width: 250px !important;
}

.dialog-input {
  min-width: 250px !important;
  margin-bottom: 5px !important;
}

.dialogForm {
  display: none;
}

a.cancelCreate {
  font-size: 13px;
  margin-top: 10px;
  margin-right: 5px;
  color: black;

  &:hover {
    text-decoration: underline !important;
  }
}

.dialogs, .dialog {
  max-width: 100%;
  table-layout: fixed;
  // white-space: nowrap;
  word-break: break-all;
}

.inline{
  display: inline;
}

.row8{
  width: 8%;
}
.row12{
  width: 12%;
}
.row16{
  width: 16%;
  position: relative;
}
.row20{
  width: 20%;
}
.row40{
  width: 40%;
}
.row44_5{
  width: 44.5%;
}

.table-response-separator {
  margin: 5px 0;
}

table.dialogs{
  tr:nth-child(odd) {background: #f6f6f6};
  tr:not(:first-child) {background: #fff};

  .control-icon {
    padding: 3px;
  }
}

.margin0{
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}
.margin-15{
  margin-top:  -15px !important;
  margin-bottom: 0 !important;
}
.margin50220{
  margin: 5px 0 22px 0 !important;
}

#mturk-response-field {
  margin:35px 0 0 0;
}

#mturk-response-field input[type='submit']{
  margin: -4px 0 0 13px;
}

#mturk-response-field #submit-result {
  margin: 0 0 0 17px;
}

.valign-top {
  vertical-align: top;
}
.card-bg {
  background: #EFEFEF;
  padding: 12px;
  margin-bottom: 6px;
  width: 200%;
}
.line-spacing {
  line-height: 2rem;
}
.display-table-wrapper {
  display: table;
  .block {
    display: table-cell;
  }
  .true-block {
    position: absolute;
  }
  .false-block {
    position: absolute;
    margin-left: 60px;
  }
}
.margin-left15{
  margin-left: 15px;
}
.margin-left-50{
  margin-left: -50px;
}
.flex-box-wrapper{
  width: 100px;
  display: -webkit-flex;
  display: flex;

  .flex-box2{
    flex: 2;
    z-index: 10;
  }
  .flex-box1{
    flex: 1;
  }
}
