.file-locked {
  background-color: #FFC000;
  border-radius: 2px;
  padding: 5px;
  color: black;
  text-align: center;
  margin: -6px 0px 12px 0px;
}

textarea#intent_description {
  min-width: 350px !important;
  min-height: 250px !important;
}

#name.disabledInput {
  color: grey;
  background-color: lightgrey;
}

#files {
  display: none;
}

.btn-file {
  min-width: 130px !important;
}

.result-table {
  width: 100%;
}

.upload-table {
  width: 100%;
  margin-top: -10px;

  th {
    padding-top: 0px;
  }
}
