.file-locked {
  background-color: #FFC000;
  border-radius: 2px;
  padding: 5px;
  color: black;
  text-align: center;
  margin: -6px 0px 12px 0px;
}

.file-lock-text {
  font-size: 18px;
}

textarea#intent_description {
  min-width: 350px !important;
  min-height: 250px !important;
}

#name.disabledInput {
  visibility: hidden;
}
#name.intent-name-input {
  margin-bottom: 37px;
}

#files {
  display: none;
}

.btn-file {
  min-width: 130px !important;
}

.result-table {
  width: 100%;
}

.upload-table {
  width: 100%;
  margin-top: -10px;

  th {
    padding-top: 0px;
  }
}

.intents-form {
  .btn.lg {
    max-width: 130px !important;
    padding: 7px 0px !important;
  }
}

.upload-training-data {
  position: absolute;
  left: 490px;
  bottom: 175px;
}

.downloadTrainingDataBtn {
  margin-right: 3px;
}

.intent-edit-fields-dialogs {
  top: -8px;
}

.intent-edit-update {
  position: absolute;
  top: 363px;
}

.intent-edit-clear {
  position: absolute;
  left: 628px;
  bottom: 50px;
}
