.top-margin{
  margin-top: 20%;
}

.abs-btm-20{
  position: absolute;
  bottom: 22px;
}

.text-center{
  text-align: center;
  vertical-align: middle;
}

.form-center{
  text-align: center;

  & .btn{
    vertical-align: baseline;
  }
}

.icon-check:after{
  content:'\2713';
}
.icon-cross:after{
  content:'\2717';
}

@media screen and (max-width: 767px) {
  #desktop-menu{
    display: block !important;
  }
}
