// The below styles override the 'shared-styles'

textarea {
  min-height: 250px !important;
}

.text-input {
  max-width: 500px !important;
}

pre code.json {
  max-height: 400px;
  overflow: auto;
}
