// The below styles override the 'shared-styles'

textarea {
  min-height: 250px !important;
}

form {
  margin-bottom: 0px !important;
}

.fields {
  font-family: monospace;
}

.text-input {
  max-width: 600px !important;
  font-size: 14px !important;
  font-family: monospace !important;
}

textarea#skill_retrieve,
textarea#skill_format {
  resize: both !important;
  max-width: none !important;
  max-height: none !important;
}

.skill {
  .test-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h4 {
  margin-bottom: 0px !important;
}

.copyBtnMain {
  margin-right: 2px !important;
}

.copyBtnCurl {
  margin-top: -10px !important;
}

.copyConfirm {
  font-size: 12px !important;
  color: green !important;
  margin-top: 2px !important;
}

.notes {
  font-size: 14px !important;
}

.top-div {
  margin-bottom: 15px;
}

.responseCodeMirror {
  border: 1px solid #98FB98;
}

.requestCodeMirror {
  border: 1px solid #ADD8E6;
}

.nluTraining {
  font-size: 18px;

  .success {
    color: green;
  }

  .fail {
    color: red;
  }
}

.single-word-rule-input.width200 {
  min-width: 240px !important;
}
.single-word-rule-padL100{
  padding-left: 100px;
}
.intents-options{
  margin-bottom: 0;
}
