// The below styles override the 'shared-styles'

textarea {
  min-height: 250px !important;
}

form {
  margin-bottom: 0px !important;
}

.fields {
  font-family: monospace;
}

.text-input {
  max-width: 600px !important;
  font-size: 14px !important;
  font-family: monospace !important;
}

.skill {
  .test-btn {
    margin-top: 210px;
  }
}

h4 {
  margin-bottom: 0px !important;
}

.copyBtnMain {
  margin-right: 2px !important;
}

.copyBtnCurl {
  margin-top: -10px !important;
}

.copyConfirm {
  font-size: 12px !important;
  color: green !important;
  margin-top: 2px !important;
}

.notes {
  font-size: 14px !important;
}

.top-div {
  margin-bottom: 15px;
}

