<h1>
  Releases Index
  <%= link_to 'Create New Release Candidate', new_release_path, class: 'btn lg black pull-right' %>
</h1>

<table class='table table-hover'>
  <thead class='thead-default'>
    <th>Message</th>
    <th>Status</th>
    <th>No. Files Changed</th>
  </thead>
  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= link_to @repo.lookup(release.commit_sha).message, show_release_path( release ) %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
