<h1>
  Releases Index
  <%= link_to 'Create a Release', new_release_path, class: 'btn lg black pull-right' %>
</h1>

<table class='table table-hover'>
  <thead class='thead-default'>
    <th>No. Files Changed</th>
    <th>Message</th>
  </thead>
  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= %></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </tbody>
</table>
