<h1>
  Releases Index
  <%= link_to 'Create New Release Candidate', new_release_path, class: 'btn lg black pull-right' %>
</h1>

<table class='table table-hover' id='allReleasesTable'>
  <thead class='thead-default'>
    <th>Message</th>
    <th>State</th>
  </thead>
  <tbody>
    <% @releases.each do |release| %>
      <tr data-href="<%= release.state == 'unreviewed' ? review_release_path( release ) : accept_or_reject_path( release ) %>" >
        <td>
          <%= @repo.lookup(release.commit_sha).message %>
        </td>
        <td><%= release.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
