<h1>New Release Canadiate</h1>

<%= render partial: '/releases/diff' %>

<hr>
<div class="text-center">
  <%= form_tag '/releases' do %>
    <b>Commit Message:</b>
    <br>
    <%= text_area_tag :message %>
    <br>
    <%= submit_tag 'Create Release', class: "btn xxl" %>
  <% end %>
</div>
