<h1>Release New</h1>

<div class="flex-container">
  <div class="flex-column pink">
    L<br>
    E<br>
    F<br>
    T<br>
     <br>
    S<br>
    I<br>
    D<br>
    E
  </div>
  <div class="flex-column green">
    R<br>
    I<br>
    G<br>
    H<br>
    T<br>
     <br>
    S<br>
    I<br>
    D<br>
    E
  </div>
</div>

<hr>
<%= form_for @release, html: {class: "text-center"} do |f| %>
  <b>Commit Message:</b>
  <br>
  <%= f.text_area :commit_sha %>
  <br>
  <%= f.submit class: "btn xxl" %>
<% end %>
