<h1>Review Release Candidate</h1>

<%= render partial: '/releases/diff' %>

<div class="text-center">
  <%= form_tag submit_to_training_path(@release_id) do %>
    <%= hidden_field_tag 'release_id', @release_id %>
    <%= submit_tag 'Submit for training', class: "btn xxl" %>
  <% end %>
</div>
