<% flash.each do |key, value| %>
  <% if value.present? %>
    <span style="color: #e9eaed;"><%= value %></span>
    <% if key.to_s == "notice" %>
      <script>
        IAM.alert.run('yellow', '<%= value %>' , 2500);
      </script>
    <% end %>
    <% if key.to_s == "alert" %>
      <script>
        IAM.alert.run('red', '<%= value %>', false);
      </script>
    <% end %>
    <% if key.to_s == "success" %>
      <script>
        IAM.alert.run('green', '<%= value %>', false);
      </script>
    <% end %>
  <% end %>
<% end %>
