<nav class="navbar">
  <div class="container">
    <a id="logo" class="clearfix" href="#" title="i.am+">
      <div class="icon-pyramid pull-left"></div>
      <div class="txt pull-left">Skills Manager</div>
    </a>

    <div id="desktop-menu" class="nav navbar-nav pull-right">
      <% if @current_user %>
        <a href="/logout">Logout</a>
      <% end %>
    </div>
  </div>
</nav>
